body {
    background-color: #ECDDB6;
    
}
header {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    
    color: rgb(255, 255, 255);
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }







.work {
    color: #433512;
    font-family: "Pangolin", cursive;
    font-size: 25px;
}









.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CA9A4E;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.logo {
    width: 60%;
    height: 60%;
}
.logo2 {
    height: 10px;
}
h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 50px;
    margin: 0%;
    text-decoration: underline #CA9A4E   ;
}
.hello {
    height: 400px;
    background-image: url(pril.jpg);
    width: 100%;

}












main {
    display: flex;
    justify-content: center;
    margin: 100px  ;
    flex-wrap: wrap;
    
}

.card  {
    background-color: aliceblue;
    height: 120px;
    width: 82%;
    border-radius: 5%;
    
}



.other {
    height: 200px;
    width: 40%;
    
    margin: 10px;
    
}
.card {
    color:rgb(252, 237, 191); 
   
    padding: 5px; 
    transition: 2s; 
    background-color: #d6c49c;
    
    background-size: 90%;   
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:10;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
   }
   .kor {
    height: 50px;
    width: 50px;
    
   }
  
.card:hover {
    
    background-image: url(photo/pril.jpg);
    background-size: 100%;
    background-position: 15%;
    text-decoration:underline rgba(226, 159, 59, 0.733);;
    font-size:50px ;
   
   

}
.me { 
    color:rgb(252, 237, 191); 
    height: 200px;
    width: 40%;
    border-radius: 5%;
    margin: 10px;
    font-family: "Pangolin", cursive;
    
    font-style: normal;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px; 
    transition: 2s; 
    background-color: #d6c49c;
    font-size: 20px;
}


.house { 
    color:rgb(252, 237, 191); 
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 40%;
    border-radius: 5%;
    margin: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px; 
    transition: 2s; 
    background-color: #d6c49c;
    font-size: 20px;


}
.job { 
    color:rgb(252, 237, 191); 
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 40%;
    border-radius: 5%;
    margin: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px; 
    transition: 2s; 
    background-color: #d6c49c;
    background-size: 70%;
    font-size: 20px;


}
.forum { 
    color:rgb(252, 237, 191); 
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 40%;
    border-radius: 5%;
    margin: 10px;
    font-family: "Pangolin", cursive;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px; 
    transition: 2s; 
    background-color: #d6c49c;
    font-size: 20px;


}
.forum:hover {
    
    background-image: url(photo/moneyman-poluchit-konsultaciyu-po-nomeru-telefona-goryachej-linii-1.jpg);
    background-size: 100%;
    background-position: 25px ; 
    text-decoration:underline rgba(226, 159, 59, 0.733);;
    font-size:25px ;

}



.me:hover {
    
    background-image: url(photo/his.jpg);
    background-size: 100%;
    background-position: 15px;
    text-decoration:underline rgba(226, 159, 59, 0.733);;
    font-size:25px ;

}
.house:hover {
    
    background-image: url(photo/la-patisserie.jpg);
    background-size: 100%;
    background-position: 15px;
    text-decoration:underline rgba(226, 159, 59, 0.733);;
    font-size:25px ;

}
.job:hover {
    
    background-image: url(photo/pek.jpg);
    background-size: 100%;
    background-position: 10%;
    text-decoration:underline rgba(226, 159, 59, 0.733);;
    font-size:25px ;

}
.other {
    width: 50px;
    height: 50px;
    
}

.menuu {
    text-align: end;
    margin: 0px;
    height: 300px;
    width: 1000px;
    background-color: #81724ca6;
    padding: 15px;
}

.pek {
    text-decoration: none;
}


   

   h3 {
    font-family: "Pangolin", cursive; ;
   }
   
   .box {
    width: 100%;
   }
   
.noveg {
display: flex;
justify-content: center;    
    width: 100%;
}
footer {
    margin: 150px 0 0 0 ;
    background-color: #81724ca6;
    height: 300px;
    display: flex;
    
}.fot {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-family: "Pangolin", cursive;
    
}

@media (max-width:768px) {
    footer {
        margin: 150px 0 0 0 ;
        background-color: #81724ca6;
        height: 250px;
        font-size: 10px;
        
   
      
    }

    .slider-container {
        position: relative;
        width: 100%;
        height: 220px;
        margin: 0 auto;
        overflow: hidden;
      }
      
      
      h2 {
        font-size: 17px;
      }
      .h {
        font-size: 30px;
      }
      main {
        
        margin: 10px 0 0 3px ;
        
        
    }
    .other {
        height: 30px;
        width: 15%;
    }
    .me {
        height: 100px;
    }
    .forum {
        height: 100px;
    }
    .house {
        height: 100px;
    }
    .job {
        height: 100px;
    }
    body {
        margin: 0;
    }
    h1 {
        font-size: 25px;
    }
    .logo1 {
        height: 50px;
        width: 50px;
    }
    .work {
        font-size: 15px;
    }

    }





