body {
    background-color: #ECDDB6;
    
}


h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 50px;
    margin: 0%;
    text-decoration: underline #CA9A4E   ;
}

main {
    
        display: flex;
        justify-content: center;
        margin: 0px 200px 0px 200px   ;
        flex-wrap: wrap;
        
    
    
}
.pie {
    display: block;
    height:400px;
    width: 320px;
    background-color: #d6c49c;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Pangolin", cursive;
}
 main img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
   

    
}
.ves {
    color: rgb(148, 148, 148);
}

.buy {
    border-radius: 15px;
    height: 50px;
    width: 100%;
    background-color: #ff7b00;
    text-align: center;
    
    padding: 0.1px 0.1px 0.1px 0.1px  ;
    box-sizing: border-box;
}
.buybut {
    text-decoration: none;
    
}
header {
    height: 50px;
    width: 100%;
    background-color: #b3b3b3;
    position: sticky;
    top: 0;
  }
  h1 {
    text-align: center;
  }
.name {
    text-align: center;
    color: #ff7b00;
}
.price {
    font-weight: 900;
}
a {
    text-decoration: none;
    color: black;
}

.up {
    text-align: center;
    font-family: "Pangolin", cursive;
    color: rgba(216, 155, 75, 0.699);
    font-size: 30px;
}
.phon {
    color: rgba(245, 161, 6, 0.815);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
   }
   h3 {
    font-family: "Pangolin", cursive; ;
   }
   
   .box {
    width: 100%;
   }
   
.cont {
    display: flex;
    justify-content: center;
    width: 100%;
}
